::-webkit-scrollbar { width: 10px; height: 10px;}
::-webkit-scrollbar-thumb { height: 50px; background-color: #666; border-radius: 3px;}
::-webkit-scrollbar-corner { background-color: #1b1b1b;}

html {
    scrollbar-face-color: #646464;
    scrollbar-base-color: #646464;
    #scrollbar-3dlight-color: #646464;
    #scrollbar-highlight-color: #646464;
    #scrollbar-track-color: #000;
    #scrollbar-arrow-color: #000;
    #scrollbar-shadow-color: #646464;
    #scrollbar-dark-shadow-color: #646464;
}

body, html {
    height: 100%;
}

.main {
    background-color: #1b1b1b;
    display: grid;
    grid-template-columns: 50px 140px auto auto;
    grid-template-rows: auto 70px;
    grid-gap: 0px;
    height: 100vh;
}

.toolbar {
    #border: 1px red solid;
    box-shadow: 1px 1px rgba(0,0,0,0.16), 1px 7px 6px rgba(0,0,0,0.20);
    background-color: #3b3b3b;
}

.emptyToolbarBackground {
    #border: 1px red solid;
    background-color: #3b3b3b;
}

.empty {
    #border: 1px red solid;
}

.paletteColor {
    #border: 1px red solid;
    display: grid;
    margin-left: 10px;
    margin-right: 10px;
    grid-template-columns: 20px 20px 20px 20px 20px 20px;
    grid-auto-rows: 20px;
}

.gridBitmap {
    #border: 1px red solid;
    overflow: auto;
    display: grid;
    grid-template-columns: 160px 160px 160px 160px 160px 160px 160px 160px 160px 160px
                           160px 160px 160px 160px 160px 160px 160px 160px 160px 160px
                           160px 160px 160px 160px 160px 160px 160px 160px 160px 160px
                           160px 160px 160px 160px 160px 160px 160px 160px 160px 160px;

    grid-template-rows: 160px 160px 160px 160px 160px 160px 160px 160px 160px 160px
                        160px 160px 160px 160px 160px 160px 160px 160px 160px 160px
                        160px 160px 160px 160px 160px;

}

.statusBar {
    #border: 1px red solid;
    display: grid;
    grid-template-columns: 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 350px auto;
    grid-template-rows: auto;
    grid-column-gap: 7px;
    margin-top: 15px;
    align-items: start;
}

.logoContainer {
    margin-right: 15px;
    margin-top: 10px;
    #border: 1px green solid;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

}

.mega65-logo {
    background-image: url('mega65.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 200px;
    height: 45px;
    border: none;
    #border: 1px yellow solid;
}

.gridChar {
    display: grid;
    grid-template-columns: 20px 20px 20px 20px 20px 20px 20px 20px;
    grid-template-rows: 20px 20px 20px 20px 20px 20px 20px 20px;
    border-style: solid;
    border-width: 1px;
    border-color: #999999
}

.gridCharWithoutGrid {
    display: grid;
    grid-template-columns: 20px 20px 20px 20px 20px 20px 20px 20px;
    grid-template-rows: 20px 20px 20px 20px 20px 20px 20px 20px;
}

.gridCharMCM {
    display: grid;
    grid-template-columns: 40px 40px 40px 40px;
    grid-template-rows: 20px 20px 20px 20px 20px 20px 20px 20px;
    border-style: solid;
    border-width: 1px;
    border-color: #999999
}

.gridCharWithoutGridMCM {
    display: grid;
    grid-template-columns: 40px 40px 40px 40px;
    grid-template-rows: 20px 20px 20px 20px 20px 20px 20px 20px;
}

.color {
    border-style: dotted;
    border-width: 1px;
    border-color: #333333
}

.colorCursor {
    border: 1px solid transparent;
    box-sizing: border-box;
    border-image-outset: 0px;
    border-image-repeat: repeat;
    border-image-source: url('selection.gif');
    left: 100px;
    border-image-slice: 6;
    border-image-width: 2px;

}

.pixel {
    border-style: dotted;
    border-width: 1px;
    border-color: #333333
}

.pixelWithoutGrid {
    border-style: none;
}


.blinkingCursor {
    animation: flashing 1.8s infinite;
    border-style: solid; 
    border-width: 2px;
    border-color: #ffffff
}

.blinkingCursorStart {
    animation: flashingStart 1.8s infinite;
    border-top: solid;
    border-left: solid;
    border-right: none;
    border-bottom: none;
    border-width: 3px;
    border-color: #ff00ff
}

.blinkingCursorEnd {
    animation: flashingStart 1.8s infinite;
    border-top: none;
    border-left: none;
    border-right: solid;
    border-bottom: solid;
    border-width: 3px;
    border-color: #ff00ff
}


@keyframes flashing {
    0%   { border-color: #ffffff; }
    50%  { border-color: transparent; }
    100% { border-color: #ffffff; }
}

@keyframes flashingStart {
    0%   { border-color: #ff00ff; }
    50%  { border-color: #500050; }
    100% { border-color: #ff00ff; }
}

.toolbarIcon {
    margin: 14px;
    color: #bbbbbb;
    font-size: 20px;
 }

.toolbarIcon:hover {
    color: #f7ff23;
}

.toolbarIconOff {
    margin: 14px;
    color: #3b3b3b;
    font-size: 20px;
}


.colorPixelBlock {
    border-style: dotted;
    border-width: 1px;
    border-color: #aaaaaa;
    width: 20px;
    height: 20px;
}

.colorPixelBlockSelected {

    border: 1px solid transparent;
    box-sizing: border-box;
    border-image-outset: 0px;
    border-image-repeat: repeat;
    border-image-source: url('selection.gif');
    left: 100px;
    border-image-slice: 6;
    border-image-width: 2px;
    width: 20px;
    height: 20px;


}

.set-f-key {
    font-size: 10px;
    alignment: right;
    color: #888888
}

.previewContainer {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
}


.preview {
    background-color: #000000;
}

